<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="LendDirect" connectionString="data source=canlddev23;initial catalog=WinchkCANLDDEV;integrated security=True" providerName="System.Data.SQLClient" />
		<add name="POCTest" connectionString="data source=NEWBLORD-PC\SQLEXPRESS;initial catalog=Stores;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>