@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Equipment Guide Dashboard</h1>
</div>

<div class="list-group">
   <a href="#" class="list-group-item active">
      Application Links
   </a>
   @Html.ActionLink("Cooper Ratings", "Index", "EquipmentGuide")
</div>