
@{
    ViewData["Title"] = "Brinj The Heat - Full Gallery";
    ViewData["TopBannerText"] = "Our Wedding Photos";
}

<!-- Section Gallery -->
<section id="gallery" class="section section-gray gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading">
                <span>Our Memories</span>
                <h2>Gallery albom photos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">All</button>
                    <button class="button" data-filter=".moments">moments</button>
                    <button class="button" data-filter=".friends">friends</button>
                    <button class="button" data-filter=".banguet">banguet</button>
                    <button class="button" data-filter=".family">family</button>
                    <button class="button" data-filter=".party">party</button>
                </div>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item grid-item--width moments friends">
                        <a href="img/gallery-1.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-1.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item moments banguet party">
                        <a href="img/gallery-2.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-2.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends moments party">
                        <a href="img/gallery-3.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-3.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet family">
                        <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-7.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends family">
                        <a href="img/gallery-5.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-5.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item family party">
                        <a href="img/gallery-6.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-6.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item moments family">
                        <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-7.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet family">
                        <a href="img/gallery-8.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-8.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends party">
                        <a href="img/gallery-9.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-9.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet moments">
                        <a href="img/gallery-10.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-10.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends party">
                        <a href="img/gallery-11.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-11.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item moments family">
                        <a href="img/gallery-12.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-12.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet party friends">
                        <a href="img/gallery-13.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-13.jpg" alt="gallery">
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div>
</section>
