
@{
    ViewData["Title"] = "Brinj The Heat";
}

<!-- Section About-us -->
<section id="couple" class="section couple">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading">
                <h2>Hello!</h2>
                <p>We invite you to celebrate our wedding</p>
            </div>
        </div>
        <div class="row couple-wrap">
            <div class="groom-wrap col-md-6 clearfix">
                <div class="groom">
                    <img src="img/groom.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Hitesh</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="bride-wrap col-md-6">
                <div class="bride">
                    <img src="img/bride.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Brinjal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Countdown -->
<section class="countdown bg section text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="heading col-sm-12">
                <h2>
                    The big day<br>
                    November 28th 2019
                </h2>
                <p>
                    We are so excited to celebrate our special day with our family and friends.
                    Thank you so much for visiting our wedding website!
                </p>
            </div>
            <div class="col-sm-12">
                <div id="timer" class="timer text-center">
                    <div class="timer-item timer-item_text">
                        Just some hours...
                    </div>
                    <div class="timer-item_digits">
                        <div class="timer-item">
                            <div>
                                <span class="days digit"></span>
                                <div class="smalltext">days</div>
                            </div>
                        </div>
                        <div class="timer-item">
                            <div>
                                <span class="hours digit"></span>
                                <div class="smalltext">hours</div>
                            </div>
                        </div>
                        <div class="timer-item">
                            <div>
                                <span class="minutes digit"></span>
                                <div class="smalltext">minutes</div>
                            </div>
                        </div>
                        <div class="timer-item">
                            <div>
                                <span class="seconds digit"></span>
                                <div class="smalltext">seconds</div>
                            </div>
                        </div>
                    </div>
                    <div class="timer-item timer-item_text">
                        ...until we get married!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Events -->
<section id="events" style="background: #f5f4ec;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 heading"style="opacity: 1; display: block;;-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;-webkit-transition: -webkit-transform 0.66s ease-in-out 0s,  opacity 0.66s ease-in-out 0s;transition: transform 0.66s ease-in-out 0s, opacity 0.66s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
                <h2>Events &amp; Parties</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="event-short">
                    <img src="img/event1.jpg" class="img-responsive" alt="">
                    <h3>Bride Shower</h3>
                    <h4>July 1th, 2014</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra nunc, non scelerisque ligula. Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Counter -->
<section id="counter" class="section bg counter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon">
                        <i class="fa fa-users"></i>
                    </span>
                    <span class="counter-value js-counter" data-from="0" data-to="120" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Guest</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span class="counter-value js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Kisses</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                    <span class="counter-value js-counter" data-from="0" data-to="200" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Sleepless nights</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <span class="counter-value js-counter" data-from="0" data-to="1250" data-speed="5000" data-refresh-interval="50">1</span>
                    <span class="counter-label">Days together</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Gallery -->
<section id="gallery" class="section section-gray gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading">
                <span>Our Memories</span>
                <h2>Wedding Gallery alboms</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">All</button>
                    <button class="button" data-filter=".moments">moments</button>
                    <button class="button" data-filter=".friends">friends</button>
                    <button class="button" data-filter=".banguet">banguet</button>
                    <button class="button" data-filter=".family">family</button>
                    <button class="button" data-filter=".party">party</button>
                </div>
                <div class="grid grid--margin">
                    <div class="grid-sizer"></div>
                    <div class="grid-item grid-item--width moments friends">
                        <a href="img/gallery-1.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-1.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item moments banguet party">
                        <a href="img/gallery-2.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-2.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends moments party">
                        <a href="img/gallery-3.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-3.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet family">
                        <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-7.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends family">
                        <a href="img/gallery-5.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-5.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item family party">
                        <a href="img/gallery-10.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-10.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item moments family">
                        <a href="img/gallery-7.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-7.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item banguet family">
                        <a href="img/gallery-8.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-8.jpg" alt="gallery">
                        </a>
                    </div>
                    <div class="grid-item friends party">
                        <a href="img/gallery-9.jpg" data-lightbox="roadtrip">
                            <img src="img/gallery-9.jpg" alt="gallery">
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="gallery-single.html" class="btn-primary btn-lg">View all</a>
            </div>
        </div> <!-- /.row -->
    </div>
</section>